<ion-header>
  <ion-row>
    <ion-col class="ion-text-center">
      <h2>Calculator</h2>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <section id="calculator" class="calculator">
    <ion-row class="calculator_viewer">
      <ion-col>
        <div class="viewer"><p id="viewer" >0</p></div>
      </ion-col>
    </ion-row>
    <ion-row class="calculator_item">
      <ion-col>
        <button id="button" data-ops="plus" class="ops">+</button>
      </ion-col>
      <ion-col class="calculator_item">
        <button data-ops="minus" class="ops">-</button>
      </ion-col>
      <ion-col class="calculator_item">
        <button data-ops="times" class="ops">*</button>
      </ion-col>
      <ion-col class="calculator_item">
        <button data-ops="divided by" class="ops">/</button>
      </ion-col>
      <ion-col class="calculator_item">
        <button id="clear" class="clear">C</button>
      </ion-col>
    </ion-row>
    <ion-row class="calculator_item">
      <ion-col>
        <button class="num" data-num="7">7</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="8">8</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="9">9</button>
      </ion-col>
    </ion-row>
    <ion-row class="calculator_item">
      <ion-col>
        <button class="num" data-num="4">4</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="5">5</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="6">6</button>
      </ion-col>
    </ion-row>
    <ion-row class="calculator_item">
      <ion-col>
        <button class="num" data-num="1">1</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="2">2</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="3">3</button>
      </ion-col>
    </ion-row>
    <ion-row class="calculator_item">
      <ion-col>
        <button class="num" data-num=".">.</button>
      </ion-col>
      <ion-col>
        <button class="num" data-num="0">0</button>
      </ion-col>
      <ion-col>
        <button id="equals" class="equals" data-result="">=</button>
      </ion-col>
    </ion-row>
  </section>
</ion-content>