<ion-header>
    <h2>Условия договора</h2>
</ion-header>

<ion-content>
  <button type="button" (click)="dismiss()">Ознакомлен(а)</button>
  <h4>ПУБЛИЧНАЯ ОФЕРТА О
    ЗАКЛЮЧЕНИИ ДОГОВОРА ОБ
    ОКАЗАНИИ УСЛУГ</h4>
  <h5>Общие положения</h5>
  <p>Физическое лицо-предприниматель Куцмай Юлия Васильевна а (далее —
    “Исполнитель”), зарегистрированный и действующий в соответствии с
    законодательством Украины, руководствуясь ст.ст. 633, 641 Гражданского
    кодекса Украины, предлагает неограниченному кругу физических лиц,
    заключить настоящий Договор об оказании услуг (далее — “Договор”) на
    нижеуказанных условиях:</p>
  <h4>Понятия и определения</h4>
  <p>2.1. В настоящей оферте, если контекст не требует иного, нижеприведенные термины имеют
    следующие значения:<br/>
    * «товар» - калькулятор который предостовляеться по подписке;<br/>
    * «Мобильное приложение» - в соответствии с Законом Украины «об электронной коммерции»,
    средство для представления или реализации товара, работы или услуги путем совершения
    электронной сделки.<br/>
    * «Продавец» - физическое лицо которое предостовляет услугу платной подписки в мобильном
    приложении.<br/>
    * «Покупатель» - физическое лицо, заключившее с Продавцом Договор на условиях, изложенных
    ниже.<br/>
    * «Подписка» - оформление подписки на услуги использования мобильного приложения.<br/>
  </p>
  <h4>Предмет Договора</h4>
  <p>3.1. Продавец обязуется передать в собственность Покупателя доступ к использыванию всего
    функционала мобильного преложения, а Покупатель обязуется оплатить подписку на условиях
    данного Договора.<br/>
    Настоящий Договор регулирует оформление подписки, в том числе:<br/>
    - самостоятельное оформление Покупателем подписки в мобильном приложении;<br/>
    - оплата Покупателем подписки, оформленной в мобильном приложении;<br/>
    - обработка подписки Покупателя и предоставление всех привилегий мобильного преложения на
    условиях настоящего Договора.<br/>
  </p>
  <h4>Порядок оформления заказа</h4>
  <p>4.1. Покупатель имеет право оформить оформить подписку на использование полного функционала
    мобильного прелоения.<br/>
    4.2. При не успешной оплате или возникновении каких то вопросов, Покупатель обязан поставить в
    известность Продавца (по телефону или через электронную почту).<br/>
    4.3. При неудовлетворении желаний покупателя, он в свою очередь может запросить возрат
    средств(по телефону или через электронную почту).<br/>
  </p>
  <h4>Порядок оплаты заказа</h4>
  <p>5.1. Оплата осуществляется в мобильном приложении путем заполнения формы, и передачи
    денежных средств.<br/>
    5.2. При не поступлении денежных средств, Продавец оставляет за собой право аннулировать заказ.<br/></p>
  <h5>Права и обязанности сторон:</h5>
  <p>6.1. Продавец имеет право:<br/>
    - в одностороннем порядке приостановить оказание услуг по настоящему договору в случае
    нарушения Покупателем условий настоящего договора.<br/>
    6.2. Покупатель обязан:<br/>
    - своевременно оплатить подписку на условиях настоящего договора.<br/>
    6.3. Покупатель имеет право:<br/>
    - оформить подпписку в мобильном приложении;<br/>
    - требовать от Продавца исполнения условий настоящего Договора.<br/></p>
  <h4>Ответственность сторон</h4>
  <p>7.1. Стороны несут ответственность за невыполнение или ненадлежащее выполнение условий
    настоящего договора в порядке, предусмотренном этим договором и действующим
    законодательством Украины.<br/>
    7.2. Продавец не несет ответственности за:<br/>
    - за содержание и правдивость информации, предоставляемой Покупателем при оформлении
    подписки;<br/>
    - за задержку и перебои в предоставлении Услуг (обработки подписки), которые происходят по
    причинам, находящимся вне сферы его контроля;<br/>
    - за противоправные незаконные действия, осуществленные Покупателем с помощью данного
    доступа к сети Интернет;<br/>
    - за передачу Покупателем своих сетевых идентификаторов - IP, MAC-адреса, логина и пароля
    третьим лицам;<br/>
    7.3. Покупатель, используя предоставленный ему доступ к сети Интернет, самостоятельно несет
    ответственность за вред, причиненный его действиями (лично, даже если под его логином
    находилось другое лицо) лицам или их имуществу, юридическим лицам, государству или моральным
    принципам моральности.<br/>
    7.4. В случае наступления обстоятельств непреодолимой силы, стороны освобождаются от
    выполнения условий этого договору. Под обстоятельствами непреодолимой силы для целей
    настоящего договора понимаются события, имеющие чрезвычайный, непредвиденный характер,
    которые исключают или объективно мешают исполнению настоящего договора, наступление
    которых Стороны не могли предвидеть и предотвратить разумными способами.<br/>
    7.5. Стороны прикладывают максимум усилий для решения любых разногласий исключительно
    путем переговоров.<br/></p>
    <h4>Порядок возврата денежных средств</h4>
    <p>8.1. Возврат денежних средств происходит путем связи Покупателя и Продавца по контактным
      данным и обговаривании дальнейщих действий.<br/>
      8.2. При запросе на возврат платежних средств Покупатель должен предоставить информацию в
      которой указано (путем связи с Продавцем), причину по которой он вынужден отказаться от услуг.<br/></p>
    <h4>Срок действия договора</h4>
    <p>9.1.Электронный договор считается заключенным с момента получения лицом направившим
      предложение заключить такой договор, ответа о принятии этого предложения в порядке,
      определенном частью шестой статьи 11 Закона Украины "Об электронной коммерции".<br/>
      9.2. До окончания срока действия этот Договор может быть расторгнут по взаимному согласию
      сторон до момента фактической доставки товара, путем возврата денежных средств.<br/>
      9.3. Стороны имеют право расторгнуть настоящий договор в одностороннем порядке, в случае
      невыполнения одной из сторон условий настоящего Договора и в случаях предусмотренных
      действующим законодательством Украины.<br/>
    </p>
</ion-content>
