<ion-header>
  <ion-row>
    <div class="menu_bar" (click)="this.menu.open()">
      <div id="menu" class="menu">
        <div id="bar1" class="bar"></div>
        <div id="bar2" class="bar"></div>
        <div id="bar3" class="bar"></div>
      </div>
    </div>
    <ion-col class="ion-text-center">
      <h2>Подписка</h2>
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <p>* Для использовния калькулятора оформите подписку</p>
  <p>* Подписка оформляеться путем оплаты услуги</p>
  <p>* Перед оформлением подписки, ознакомтесь с условиями <span class="contract" (click)="showModal()">Договора</span></p>
  <p>* Если возникли вопросы обратитесь в <span class="contract" (click)="goContact()">Поддержку</span></p>
  <button type="button" (click)="pay(checkbox);">Перейти на страницу оплаты</button>
  <p class="conditions"><ion-checkbox [(ngModel)]="checkbox"></ion-checkbox>Я прочитал(а) условия <span class="contract" (click)="showModal()">Договора</span></p>
</ion-content>
