ion-header, ion-header>ion-row{
    height: 70px;
}

ion-header::after{
    display: none;
}
.menu_bar{
    width: 70px;
    height: 70px;
   // border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.menu{
    width: 40%;
    height: 70px;
   // border: 1px solid #fff;
    align-items: center;
    display: block;
    position: relative;
}
.menu>.bar{
    background: #000;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-8px);
}
#bar3{
    transform: translateY(8px);
}
.open_menu #bar1,.open_menu #bar3{
    width: 50%;
}
.open_menu #bar1{
    transform: translateY(-4px) translateX(-2px) rotate(-45deg);
}
.open_menu #bar3{
    transform:translateY(4px) translateX(-2px) rotate(45deg);
}
button{
    text-decoration: none;
    border: 1px solid black;
    width: 200px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    display: flex;
    color: #fff;
    border-radius: 50px;
    background: black;
}