ion-header, ion-header>ion-row{
    height: 70px;
}
ion-content{
    --padding-start: 10px;
    --padding-end: 3px;
}
ion-header::after{
    display: none;
}
.menu_bar{
    width: 70px;
    height: 70px;
   // border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.menu{
    width: 40%;
    height: 70px;
   // border: 1px solid #fff;
    align-items: center;
    display: block;
    position: relative;
}
.menu>.bar{
    background: #000;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-8px);
}
#bar3{
    transform: translateY(8px);
}
.open_menu #bar1,.open_menu #bar3{
    width: 50%;
}
.open_menu #bar1{
    transform: translateY(-4px) translateX(-2px) rotate(-45deg);
}
.open_menu #bar3{
    transform:translateY(4px) translateX(-2px) rotate(45deg);
}
button[type="button"]{
    text-decoration: none;
    font-size: 14pt;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 60px auto 0;
    display: flex;
    color: #fff;
    border-radius: 50px;
    background: black;
}
.conditions{
    text-align: center;
    margin-top: 15px;
}
.contract{
    text-decoration: underline;
    color: blue;
}
ion-checkbox{
    margin-right: 10px;
    --background-checked: black;
    --border-color-checked: black;
}
.payment{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.payment_system{
    display: flex;
    width: 70px; 
    height: 70px;
    //margin-left: 15px;
}